<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./style.css">

    <script src="./dictionary.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Dictionary</title>
</head>

<body>
    <div class="container" id="app">
        <div class="jumbotron">
            <h1>toki en</h1>
            <p>The wannabe toki pona.</p>
        </div>
        <br>
        <div v-for="item in dictionary" class="dictionary">
            <br/>
            <h2>{{ item.word }}</h2>
            <div v-for="use in item.uses">
                <br/>
                <h5><span class="badge badge-primary badge-pill"><i>{{ use.type }}</i></span></h5>
                <h5><span v-if="use.type == 'COMPOUND'">{{ use.compound }}</span></h5>
                <strong>{{ use.definition }}</strong>
                <p>Example:</p>
                <strong class="right">{{ use.example }}</strong><br></li>
                <i class="right">{{ use.exampleTranslation }}</i></li>
                <br/>
                <br/>
            </div>
        </div>
        <hr/>
        <strong class="text-left float">Home to {{ dictionary.length }} words!</strong>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                dictionary: Dictionary,
            }
        });
    </script>
</body>

</html>
