<!-- :3 -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./style.css">

    <script src="./dictionary.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Dictionary</title>
</head>

<body>
    <div class="container" id="app">
        <div class="jumbotron">
            <h1>English-Gurasicese Dictionary</h1>
            <p>Dictionary of terms used by the legendary parrot himself</p>
        </div>
        <input type="text" v-model="searchQuery" placeholder="Search...">
        <br>
        <div v-for="item in filteredDictionary" class="dictionary">
            <br/>
            <h2>{{ item.word }}</h2>
            <div v-for="(use, index) in item.uses">
                
                <br/>
                <h4><strong>{{ index }}</strong></h4><
                <h5><span class="badge badge-primary badge-pill"><i>{{ use.type }}</i></span></h5>
                <h5><span v-if="use.type == 'COMPOUND'">{{ use.compound }}</span></h5>
                <strong>{{ use.definition }}</strong>
                <p>Example:</p>
                <strong class="right">{{ use.example }}</strong><br></li>
                <i class="right">{{ use.exampleTranslation }}</i></li>
                <br/>
                <br/>
            </div>
        </div>
        <hr/>
        <strong class="text-left float">Home to {{ dictionary.length }} words!</strong>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                dictionary: Dictionary,
                searchQuery: '',
            },
        computed: {
            filteredDictionary: function() {
                const query = this.searchQuery.toLowerCase();
                return this.dictionary.filter(item => {
                return item.word.toLowerCase().includes(query) || item.uses.some(use => use.definition.toLowerCase().includes(query));
            });
        }}});
    </script>
</body>

</html>
